/* TABLETS */

@media(max-width: 768px) {

  .header {
    height: 70px;
    padding: 0 28px;

  }  

  .logo {
    width: 40px;
    height: 40px;
    margin-right: 4px;
    margin-top: 4px;
  }

  .main-nav-list {
    display: flex;
    align-items: center;
    gap: 15px;
    
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: antiquewhite;
    font-weight: 400;
    font-size: 1.4rem;
    transition: all 0.3s;
  }

  .nav-link-highlight:link,
  .nav-link-highlight:visited {
    padding: 0.8rem 2rem;
  
  }

  .telegram {
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-bottom: 7px;

  }

  .whatsUp {
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-bottom: 7px;
  
  }
}

/* PHONES */

@media (max-width: 520px)
{

  .header {
    height: 70px;
    padding: 0 20px;
  
  }  
  
  .logo {
    width: 35px;
    height: 35px;
    margin-right: 2px;
    margin-top: 3px;
  }
  
  .main-nav-list {
    display: flex;
    align-items: center;
    gap: 8px;
    
  }
  
  .main-nav-link:link,
  .main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: antiquewhite;
    font-weight: 300;
    font-size: 1.2rem;
    transition: all 0.3s;
  }
  
  .nav-link-highlight:link,
  .nav-link-highlight:visited {
    padding: 0.8rem 2rem;
   
  }
  
  .telegram {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    margin-bottom: 8px;
  
  }
  
  .whatsUp {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-bottom: 8px;
   
  }
}
  
@media (max-width: 420px) {

  .main-nav-list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

  }

  .header {
    height: 70px;
    padding: 0 10px;
  
  }  

  .nav-link-highlight:link,
  .nav-link-highlight:visited {
    display: none; 
  }
}

  

