.gegga {
   margin-left: 320px;
   position: sticky;
   z-index: 1;
  }
  .snurra {
    filter: url(#gegga);
    width: 30%;
    height: 30%;
    position: absolute;
    filter: url(#gegga);
    bottom: 83.5%;
    right: 83.5%;
  }
  .stopp1 {
    stop-color: #f700a8;
  }
  .stopp2 {
    stop-color: #ff8000;
  }
  .halvan {
    animation: Snurra1 10s infinite linear;
    stroke-dasharray: 180 800;
    fill: none;
    stroke: url(#gradient);
    stroke-width: 23;
    stroke-linecap: round;
  }
  .strecken {
    animation: Snurra1 3s infinite linear;
    stroke-dasharray: 26 54;
    fill: none;
    stroke: url(#gradient);
    stroke-width: 23;
    stroke-linecap: round;
  }

  @keyframes Snurra1 {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: -403px;
    }
  }
  