body{
    background-color:#2F2FA2;
}

.login-box {
    position: absolute; 
    top:50%;
    left: 50%;
    width: 400px;
    height: 500px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: antiquewhite;
    box-shadow: 0 15px 25px #F64C72;
    border-radius: 10px;

}

.login-box h2 {
    margin-bottom: 50px;
    padding: 0;
    color: #2F2FA2;
    text-align: center;
    font-size: 25px;

}

.mb-3 {
    position: relative;
    margin-bottom: 40px;
    border-left: none;
    border-right: none;
    border-top: none;
}
.did-floating-label {
    color: #1e4c82;
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 11px;
    padding: 0 5px;
    background:antiquewhite;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.form-control {
    font-size: 20px;
    display: block;
    width: 100%;
    height: 36px;
    padding: 0 20px;
    background:  antiquewhite;
    color:  #2F2FA2;
    border: 1px solid  #2F2FA2;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-control:focus {
    outline: none;
}
.form-control:focus ~ .form-control {
    top: -20px;
    font-size: 15px;
}
.form-control:not(:placeholder-shown) ~ .did-floating-label {
    top: -20px;
    font-size: 15px;
}

.form-control {
    border-radius: 0 4px 4px 0;
    border-left: 0;
    padding-left: 0;
}

#submit {
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: antiquewhite;
    background-color: #F64C72;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 2px solid #8F7CEC;
    border-radius:10px;
}

#submit:hover {
background-color: #8F7CEC;
color: #fff;
border-radius: 5px;
box-shadow: 0 0 5px #8F7CEC, 0 0 25px #8F7CEC, 0 0 50px #8F7CEC, 0 0 100px #8F7CEC;
}

.button-form{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#register {
    font-size: 14px;
    text-decoration: none;
    color:#2F2FA2;
    margin: auto;
    width: 60%;
    text-align: center;
    font-size: 15px;
}

#register a{
    margin-top: 10px;
    color: #F64C72;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}

.errorMesseg{
    font-size: 30px;
    margin-top: 25px;
    color:  #F64C72;
    text-align: center;
}