*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}


body {
  font-family: "Source Serif Pro", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between ;
  align-items: center;
  background-color: rgb(54, 54, 255) ;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}


/* NAVIGATION */
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap:3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
 color: #2588ec9f;

}

.nav-link-highlight:link,
.nav-link-highlight:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 6px;
  color: #fff;
  background-color: #7e0aeaaa;
}

/* HOME */

.section-home {
  background-color: #FFEA80;
  padding: 4.8rem 0 9.6rem 0;
}

.home {
  margin: 0 auto;
  padding: 0 3.2rem;
  max-width: 130rem;
  display: grid;
  gap: 9.6rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  
}
/* Main Title "GOOD NEWS PORTAL" */
.home-title .title-part.line-1 {
  font-size: 12rem;
  font-weight: 600;
  line-height: 1.05;
  color: #FFFFD9;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
 

  text-shadow: #f00 1px 1px, #f00 2px 2px, #f00 3px 3px, #f00 4px 4px, #f00 5px 5px, #f00 6px 6px, #f00 7px 7px, #f00 8px 8px, #f00 9px 9px, #f00 10px 10px, #f00 11px 11px, #f00 12px 12px, #f00 13px 13px, #f00 14px 14px, #f00 15px 15px

}

.home-title .title-part.line-2 {
  font-size: 12rem;
  font-weight: 600;
  line-height: 1.05;
  color: #FFFFD9;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;

  text-shadow: rgb(60, 199, 56) 1px 1px, rgb(60, 199, 56) 2px 2px, rgb(60, 199, 56) 3px 3px, rgb(60,199,56) 4px 4px, rgb(60,199,56) 5px 5px, rgb(60,199,56) 6px 6px, rgb(60,199,56) 7px 7px, rgb(60,199,56) 8px 8px, rgb(60,199,56) 9px 9px, rgb(60,199,56) 10px 10px, rgb(60,199,56) 11px 11px, rgb(60,199,56) 12px 12px, rgb(60,199,56) 13px 13px, rgb(60,199,56) 14px 14px, rgb(60,199,56) 15px 15px

}

.home-title .title-part.line-3 {
  font-size: 12rem;
  font-weight: 600;
  line-height: 1.05;
  color: #FFFFD9;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;

  text-shadow: rgb(54, 54, 255) 1px 1px, rgb(54,54,255) 2px 2px, rgb(54,54,255) 3px 3px, rgb(54,54,255) 4px 4px, rgb(54,54,255) 5px 5px, rgb(54,54,255) 6px 6px, rgb(54,54,255) 7px 7px, rgb(54,54,255) 8px 8px, rgb(54,54,255) 9px 9px, rgb(54,54,255) 10px 10px, rgb(54,54,255) 11px 11px, rgb(54,54,255) 12px 12px, rgb(54,54,255) 13px 13px, rgb(54,54,255) 14px 14px, rgb(54,54,255) 15px 15px

}



.home-decription {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  margin-top: 50px;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  background: #FFFFD9;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #FFFFD9;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FFFFD9;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}



.home-news-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#div1 {
  margin: 10px;
}

img {
  width: 424px;
  height: 252px;
  border-radius: 20px;
}

h1 {
  text-align: center;
  font-size: 18px;
  padding-top: 5px;
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, rgb(255, 51, 0), rgb(0, 128, 53), rgb(0, 89, 255));
}

a {
  text-decoration: none
}

#divH {
  text-align: center;
  font-size: 32px;
  padding-top: 5px;
	color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, red, rgb(0, 204, 255));
}